In [4]:
import requests
import pandas as pd

In [ ]:
API_KEY = ''

In [2]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()

In [6]:
time = data['Time Series (Daily)']
df = pd.DataFrame.from_dict(time, orient='index')
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2025-02-28,250.855,252.8099,246.54,252.44,252.44,7988809,0.0000,1.0
2025-02-27,255.22,257.63,253.05,253.23,253.23,3402234,0.0000,1.0
2025-02-26,258.1,258.325,254.4104,255.84,255.84,3460124,0.0000,1.0
2025-02-25,261.08,263.48,256.77,257.75,257.75,6292487,0.0000,1.0
2025-02-24,261.5,263.845,259.58,261.87,261.87,4398107,0.0000,1.0
...,...,...,...,...,...,...,...,...
2024-10-10,235.1,235.83,231.81,233.02,229.650437922676,3142031,0.0000,1.0
2024-10-09,229.2,234.95,228.5,234.3,230.911928612493,5083566,0.0000,1.0
2024-10-08,228.11,229.345,227.0401,228.62,225.314063676432,3245342,0.0000,1.0
2024-10-07,225.38,227.67,225.02,227.12,223.835754274304,3457952,0.0000,1.0
2024-10-04,223.75,226.08,223.27,226.0,222.731949920714,3554328,0.0000,1.0

In [15]:
# Split the columns names from the numbers
cols = str(df.columns).split('.')
cols

["Index(['1",
 " open', '2",
 " high', '3",
 " low', '4",
 " close', '5",
 " adjusted close',\n       '6",
 " volume', '7",
 " dividend amount', '8",
 " split coefficient'],\n      dtype='object')"]